h1 {
  position: relative;
}

#color-palette {
  display: inline-flex;
  position: absolute;
}

#pixel-board {
  display: grid;
  outline: black 1px solid;
  width: 200px;
  margin-top: 20px;
  grid-template-columns: repeat(auto-fill, 40px);
  grid-template-rows: repeat(auto-fill, 40px);
}

.pixel {
  list-style-type: none;
  border: 1px solid black;
  background-color: white;
  width: 40px;
  height: 40px;
}

.color {
  border: 1px solid black;
  width: 40px;
  height: 40px;
}

#black {
  background-color: black;
}

#red {
  background-color: red;
}

#blue {
  background-color: blue;
}

#green {
  background-color: green;
}

#clear-board {
  margin-top: 60px;
}